.movieRow {
    margin-bottom: 30px;
    color: rgba(255,255,255,0.6);
    overflow-x: hidden;
    margin-top: 50px;
    vertical-align: middle;
    
}

.movieRow h2 {
    margin: 0px 0px 10px 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
    display:inline-block;
    margin-top: 30px;
}

.movieRow--list{
    transition: all ease 0.5s;
    text-align: center;
    margin-left: -40px;
}

.movieRow--item{
    display:inline-block;
    width: 180px;
    cursor: pointer;
    margin-left: 40px;
}

.movieRow--item img {
    transform: scale(0.95);
    transition: all ease 0.3s;
    font-size: 12px;
    max-width: 120px;
    height: 250px;
    object-fit: cover;
    text-align: center; 
    margin: auto;
    display: block;
}

.movieRow--item img:hover{
    transform: scale(1);
} 

.movieRow--left,
.movieRow--right {
    margin-top: 50px;
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index:99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}
.movieRow--left {
    left: 0;
}
.movieRow--right {
    right: 0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

@media (max-width:760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }
}

.Line {
    border: 0.5px solid rgba(255,255,255,0.5);
}