*{
    color: white;
}

.header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Tangerine';
    transition: 0.5s;
}

.black{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Tangerine';
    background-color: rgb(20, 20, 20, 0.8);
    transition: 0.5s;
}

.logo {
    font-size: 55px;
    padding: 20px 40px;
    transition: all ease 0.5s;
    font-weight: bold;
    cursor: pointer;
    transform: scale(0.9);
    
}

.logo:hover {
    transform: scale(1);
}

.buttons {
    display: inline-block;
    margin-right: 30px;
    font-size: 35px;
    
}

.button {
    display: inline-flex;
    margin-right: 30px;
    transition: all ease 0.5s;
    cursor: pointer;
    transform: scale(0.9);
}

.button:hover {
    transform: scale(1);
}

@media (max-width:760px) {
    .logo {
        font-size: 40px;
        padding: 10px 20px;
        transform: scale(0.9);
    }
    .button{
        display: inline-flex;
        margin-right: 5px;
        transition: all ease 0.5s;
        cursor: pointer;
        transform: scale(0.9);
        font-size: 26px;
    }
    .buttons {
        margin-right: 2px;
        padding-top: 5px;
    }
}
