.container{
    margin-top: 100px;
    display: inline-flex;
    
    width: 100%;
    overflow:auto;
    font-family: 'Tangerine';
}
.vertical--shadow {
    display: inline-flex;

}

.container img{
    width: 100%;
    object-fit: cover;
    height: 60vh;
    
}
.left, .right {
    position: relative;
    width: 50%;
    cursor:pointer;
}

.right {
    position: relative;
    top:0;
    left: 0;
    overflow: hidden;
    cursor:pointer;
}
.right--text{
    font-size: 50px;
    color: white;
    position: absolute;
    transition: none;
    margin-top: 25%;
    width: 40%;
    text-align: center;
    margin-left: 5%
}
.left--text{
    font-size: 50px;
    color: white;
    position: absolute;
    transition: none;
    margin-top: 25%;
    width: 40%;
    text-align: center;
    float: left;
    margin-left: 55%;
}
.left {

}

.img--left--Back{
    
}
.left:hover .img--left--Back {
    opacity: 0.3;
    transition: all ease 0.7s;
    transform: scale(0.99);
}
.left:hover .img--left--Front {
    transform: scale(1.01);
    opacity: 1;
}

.img--right--Front {
    position: absolute;
    transition: all ease 0.7s;
}
.right:hover .img--right--Back {
    opacity: 0.3;
    transition: all ease 0.7s;
    transform: scale(0.99);
}
.right:hover .img--right--Front {
    transform: scale(1.01);
    opacity: 1;
}